body {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6em;
    padding: 1em;
    background: #111;
}

.tea {
    position: absolute;
    top: 3em;
    left: 40%;
}

.digit {
    display: flex;
    color: white;
    text-shadow: 0 0 .25em red;
    align-items: center;
    justify-content: center;
    border-radius: .2em;    
    font-family: monospace;
    font-size: 300%;
    height: 1.5em;
    width: 1.5em;
    margin: .1em;
    background: repeating-linear-gradient(#fff9 0 .01em, transparent .01em .02em);
}

.digit-small {    
    display: flex;
    color: white;
    align-items: center;
    padding-left: 1em;
    text-shadow: 0 0 .2em red;
    border-radius: .6em;    
    font-family: monospace;
    font-size: 1em;
    height: 4.5em;
    width: 4.5em;
    margin: .3em;
    background: repeating-linear-gradient(#fff9 0 .03em, transparent .03em .06em);
}
